@import "_mixins";
@import "_variables";

body {
  display: grid;
  margin: 0 auto;
  padding: 0;
  background: red;
  color: #555;
  p {
    display: flex;
    background: blue;
    color: #fff;
    padding: 0 50px;
    span {
      @include w100;
      height: 100px;
      background: yellow;
      color: gray;
    }
  }
}
img {
  margin: 0;
}
.test {
  margin: 0;
  padding: 0;
  color: blue;
  a {
    display: grid;
    pointer-events: none;
  }
}
